<div class="card">
  <div class="card-body">
    <div class="card-header logo-font-form text-primary">
      My Pets
    </div>
<div class="column middle">
<table class="cool">
  <tr>
    <th class="text-primary">Name</th>
    <th class="text-primary">Species</th>
    <th class="text-primary">Breed</th>
  </tr>
<% @pets.each do |pet| %>
<tr onclick="location.href='<%= pet_path(pet) %>'">
  <td><%= pet.name %></td><td> <%= pet.species %></td><td> <%= pet.breed %></td>
</tr>
<% end %>
</table>
</div>
</div>
</div>
