<ul>
  <% current_user.pets.each do |pet| %>
    <li><%= link_to pet.name, pet %></li>
    Bathroom Times:
    <ul><% if pet.wastes.count > 0 %>
      <% pet.wastes.each do |waste| %>
        <li><%= waste.notes %></li>
      <% end %></ul>
      <% else %>
      <p>Has not gone to the bathroom!</p>
      <% end %>
    <% end %>
</ul>
