<div id="main" class="is-loading">
	<h1>


		<div class="card">
			<div class="card-body"

		<div class="login-buttons">
    <%= button_to "sign up", signup_path, method: :get, class: "btn btn-success btn-transparent" %>
    <%= button_to "login", login_path, method: :get, class: "btn btn-primary btn-transparent" %>
  </div>
</div>
</div>

	</h1>
</div>
