<ul>
  <% current_user.pets.each do |pet| %>
    <li><%= link_to pet.name, pet %></li>
    Feed Activities:
    <ul><% if pet.foods.count > 0 %>
      <% pet.foods.each do |food| %>
        <li><%= food.notes %></li>
      <% end %></ul>
      <% else %>
      <p>This pet has not been fed!</p>
      <% end %>
    <% end %>
</ul>
