/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$pet-color: #00a3bb;
$background-color: #c0c0c0;

@mixin pet-class {
  color: $pet-color;
  font-weight: 200;
}

@mixin base() {
  background-color: $background-color;
  font-weight: 200;
  color: #000;
}

@mixin central(){
  text-align: center;
}

.banner {
  @include base;
  @include pet-class;
  @include central;
}

.important {
  @include base;
}

@media print{
  p{
    font-family: sans-serif, "Arial";
    font-size: 15pt;
    background-color: #808080;
    color: #000;
  }
  h1{

  }
}
