/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap-sprockets";
  @import "bootstrap";

  // body {
  //   background-color: #fafafa;
  //   font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  // }




  .custom-file-control:before{
    content: "Browse";
  }
  .custom-file-control:after{
    content: "Add files..";
  }



$pet-color: #00a3bb;
$background-color: #c0c0c0;

@mixin pet-class {
  color: $pet-color;
}

@mixin base() {
  background-color: $background-color;
  font-weight: 200;
  color: #000;
  text-align: left;
}

@mixin massive(){
  font-size: 80px;
}

@mixin largy(){
  font-size: 48px;
}

@mixin biggy(){
  font-size: 24px;
}

@mixin central(){
  text-align: center;
}

.banner {
  @include base;
  @include pet-class;
  @include central;
  @include massive;
}

.big-header{
  @include base;
  @include pet-class;
  @include central;
  @include largy;
}

.staple {
  @include base;
  @include pet-class;
  @include largy;
}

.important {
  @include base;
  @include central
}

.normal {
  @include base;
}

table{
  @include biggy;
  border-collapse: collapse;
  th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid white;
  }
}

table.cool{
  tr:hover {background-color: $pet-color;}
  margin-left: auto;
  margin-right: auto;
}

table.center{
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  background-image: url("images/earl.jpg");
}

.card {
  margin: auto;
  width: 50%;
  border: 1px sold black;
}


/* LANDING PAGE */
body {
	background: #445;
	color: #FFF;
}

#main {
	background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url(https://preview.ibb.co/fqO4Le/earl.jpg);
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 2rem;
	display: inline-block;
	padding: 1rem;
	font-weight: 400;
	position: relative;
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading h1 {
	transform: scale(0.9);
	opacity: 0;
}

h1:before,
h1:after {
	height: 2px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

h1:before {
	top: 0;
	left: 0;
}

h1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
}
