<ul>
  <% current_user.pets.each do |pet| %>
    <li><%= link_to pet.name, pet %></li>
    Appointments:
    <% if pet.appointments.count > 0 %>
    <ul><% pet.appointments.each do |appt| %>
      <li><%= link_to appt.title, appt %></li>
      <% end %>
    <% else %>
    This pet currently has no appointments.
    <% end %></ul>
  <% end %>
</ul>
